*.pyc
__pycache__
.env
*.tmp
*.log
tmp
tmp-visible
*~
build
.build
a.out
*.so
*.o
*.sublime-workspace
MANIFEST
dist
*.tar.gz
*.egg-info
.cache
.envrc-extra
.bin
.vagrant
.pki
node_modules
*.cereal
external-install
callgrind.out.*

